body {
    font-family: arial;
    margin: 0;
}
header img {
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 50px;
    object-fit: contain;
}
nav {
    background-color: rgb(217, 217, 217);
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
}
nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
    display: flex;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}
nav ul li {
    position: relative;
    float: left;
    width: 33%;
    text-align: center;
}
nav ul li:hover ul {
   display: block;
}
nav ul li li {
    position: relative;
    float: none;
    width: 100%;
    border: none;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 5px;
    padding-inline-end: 25px;
    background-color: rgb(217, 217, 217);  
}
h1 {
    text-align: center;
}
h2 {
    font-size: 45px;
    text-align: center;
}
img {
    max-width: 100%;
}
h3 {
    font-size: 30px;
    margin: 30px;
}
p {
    font-size: 25px;
    margin: 30px;
}
.hero-1 {
    text-align: center;
}
section.card {
    padding: 40px, 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: auto;
    gap: 60px 20px; 
}
section.intro h4, section.card h4 {
    margin: 0px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
}
section.card img {
    height: 400px;
    object-fit: cover;
    width: 100%;
}
footer {
    background-color: rgb(152, 154, 154);
    padding: 10px 0px 10px 0;
    margin-top: 100px;
}
footer img {
    object-fit: contain;
    height: 30px;
    width: 30px;
    display: inline;
}
footer ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 10px;
    font-size: 25px;
    margin: 0;
    padding: 20px 0;
}
footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
footer p {
    text-align: center;
    font-size: 15px;
    margin: 0;
    padding: 20px 0;
}
section.stile {
    text-align: center;
    background-color: rgb(188, 188, 188);
    max-width: 100%;
    margin: 0;
    margin-top: 10px;
}
.intro {
    max-width: 1200px;
    margin: auto;
}

.grid .item .text {
    padding: 16px 200px;
}
.grid .item {
    display: flex;
    margin-bottom: 16px;

}
.grid .item img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
}





























@media (max-width: 600px) {

    section.card {
        grid-template-columns: 1fr;
    }
}

