body {
    font-family: arial;
}
header img {
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 50px;
    object-fit: contain;
}
nav {
    background-color: rgb(217, 217, 217);
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
}
nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
    display: flex;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}
nav ul li {
    position: relative;
    float: left;
    width: 33%;
    text-align: center;
}
nav ul li:hover ul {
   display: block;
}
nav ul li li {
    position: relative;
    float: none;
    width: 100%;
    border: none;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 5px;
    padding-inline-end: 25px;
    background-color: rgb(217, 217, 217);  
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 50px;
}
img {
    padding: 20px;
    max-width: 100%;
    display: block;
    margin:auto; 
    width: 1000px;
    height: 500px;
    object-fit: cover;
}
section.stile {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:200px; 
}
section.stile p {
    font-size: 25px;
    width: 890px;
    margin-left: 30px;
}
section.stile img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    width: 100%;
    margin-right: 30px;
}
p, h3 {
    margin: 30px;
}
h4 {
    margin: 30px;
    padding-top: 200px;
}
section.card {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px; 
}
section.card p {
    margin-bottom: 10px;
}
section.card img {
    height: 400px;
    width: 400px;
    object-fit: cover;
}
section.hero {
    background-color: rgb(152, 154, 154);
    padding: 10px 0px 10px 0;
    margin-top: 100px;
  }
  section.hero img {
      object-fit: contain;
      height: 30px;
      width: 30px;
      display: inline;
  }
  section.stili {
      text-align: center;
      background-color: rgb(188, 188, 188);
      max-width: 100%;
      margin: 0;
      margin-top: 10px;
  }
  



